body{
    background-color:lightseagreen;
    }

.main{
    display:flex;
  
    height:900px;
    width:850px;
    background-color:white;
    border: 1x solid gray;
    margin-top:6%;
    margin-left:17%;
}
.sidenav{
   height:900px;
   width:300px;
   background:lightcoral;
}
ul{
    list-style-type: none;
}
a{text-decoration:none;}

